body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gilgongo Sledge';
    background-image: url('img/5_background/desert.png');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100vw 100vh;
}

canvas {
    background-color: black;
    display: block;
}

h1 {
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#startGame {
    background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-position: center;
}

.flex-box { display: flex; }

.x-center { justify-content: center; }

.y-center { align-items: center; }

.flex-spacebetw { justify-content: space-between; }

.flex-column { flex-direction: column; }

.mt-8px { margin-top: 8px; }

.gap-12px { gap: 12px; }

@media screen and (max-width: 760px) {
    canvas { width: 100%; }
}

@media screen and (max-height: 480px) {
    canvas { height: 100vh; }

    h1 { display: none; }
}