body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gilgongo Sledge';
    background-image: url('img/landscape.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

canvas {
    background-color: black;
    display: block;
    position: relative;
}

h1 {
    letter-spacing: 2px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    margin: 0;
}

h2 {
    margin: 0;
}

#startGame {
    background-image: url('img/9_intro_outro_screens/start/startscreen_2.png');
    background-position: center;
}

.flex-box {
    display: flex;
}

.x-start {
    justify-content: flex-start;
}

.x-center {
    justify-content: center;
}

.y-center {
    align-items: center;
}

.flex-spacebetw {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.mt-8px {
    margin-top: 8px;
}

.gap-12px {
    gap: 12px;
}

.legend {
    font-size: 14px;
}

.dune-color {
    color: #FFC700;
}

.bgc-dune {
    background-color: #FFC700;
}

.mtm-12px {
    margin-top: -12px;
}

.d-none {
    display: none;
}

.invisible {
    opacity: 0;
}

.opacity-01 {
    opacity: 0.1;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.c-pointer {
    cursor: pointer;
}

.pos-btn {
    top: 24px;
}

#showLegend {
    margin-top: 4px;
    font-size: 10px;
    padding: 6px 8px;
}

#introduction {
    font-size: 12px;
    color: #ffee00;
    overflow-y: auto;
    max-height: 100%;
    padding: 4px 0 0 4px;
    scrollbar-color: #ffee00 #FFC700;
    scrollbar-width: thin;
    top: 0;
}

#introduction>img {
    width: 32px;
    height: 32px;
}

#introduction>div {
    margin-left: 8px;
}

.img-controll {
    height: 48px;
    width: 48px;
}

.salsaBottle {
    background-color: #BCBCBC;
    border-radius: 50%;
    border: 1px solid black;
}

.salsaBottle>img {
    width: 36px;
    height: 36px;
}

#myDivStart,
#myDivFinish,
#myDivspeakerIconInGame {
    width: 100%;
}

.landscapeMode {
    top: 0;
    width: 100%;
    height: 100%;
}

.landscapeMode>img {
    width: 150px;
    height: 150px;
}

#controllUnit {
    width: 100%;
    bottom: 0;
}

#controllUnit>div {
    width: 100%;
}

.landscapeMode>img {
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
}

@media screen and (max-width: 760px) {
    canvas {
        width: 100%
    }
}

@media screen and (max-width: 620px) {
    #introduction {
        max-height: 250px;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }

    .salsaBottle>img {
        width: 28px !important;
        height: 28px !important;
    }

    #myDivStart img,
    #myDivFinish img,
    #controllUnit img {
        width: 36px;
        height: 36px;
    }
}

@media screen and (max-width: 480px) {
    #legend {
        font-size: 12px;
    }

    #introduction {
        max-height: 190px;
    }
}

@media screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    #myDivStart img,
    #myDivFinish img {
        width: 28px;
        height: 28px;
    }
}

/* Force landscape mode */
@media screen and (orientation:portrait) {

    canvas,
    #startBtn,
    #myDivFinish,
    #controllUnit {
        opacity: 0.1;
        z-index: -1;
    }

    .landscapeMode:hover > img {
        transform: rotate(45deg);
    }
}

@media screen and (orientation:landscape) {

    h1,
    .landscapeMode {
        display: none;
    }
}